#titulo{
	-fx-font-family: "Tahoma";
	-fx-fill: #29B3AC;
	-fx-font-size: 40px;
	-fx-font-weight: bold;
}

#subtitulo{
	-fx-font-family: "Tahoma";
	-fx-fill: #29B3AC;
	-fx-font-size: 36px;
}

#card{
	-fx-background-color: #D9D9D9;
	-fx-background-radius: 56px;
	-fx-border-radius: 56px;
	-fx-pref-width: 800px;
	-fx-padding: 30px;
}

#layout{
	-fx-alignment: top-center;
	-fx-padding: 50px 0px 0px 0px;
}

.botao{
	-fx-background-color: #8AD0CC;
	-fx-background-radius: 48px;
	-fx-border-radius: 48px;
	-fx-border-width: 0;
	-fx-padding: 10px 40px;
	-fx-font-family: "Tahoma";
	-fx-font-size: 28px;
	-fx-text-fill: white;	
}

.btn_voltar {
    -fx-text-fill: #29B3AC;
    -fx-alignment: top-left;
    -fx-background-color: transparent;
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.btn_voltar:hover {
    -fx-text-fill: #29B3AC;
}

.label-form {
    -fx-font-family: "Tahoma";
    -fx-font-size: 18px;
    -fx-text-fill: #2c3e50;
    -fx-pref-width: 180px;
}

.label-servico {
    -fx-font-family: "Tahoma";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
}

.combo-box {
    -fx-font-family: "Tahoma";
    -fx-font-size: 16px;
    -fx-pref-width: 300px;
}

.campo-data {
    -fx-font-family: "Tahoma";
    -fx-font-size: 16px;
    -fx-pref-width: 200px;
}

.mensagem-erro {
    -fx-font-family: "Tahoma";
    -fx-font-size: 16px;
    -fx-text-fill: red;
    -fx-padding: 10px;
}