#topo{
	-fx-pref-height: 112px;
	-fx-background-color:#29B3AC;
}

.botaotopo{
	-fx-background-color: transparent;
	-fx-border-width: 0;
	-fx-font-family: "Tahoma";
	-fx-font-size: 24px;
	-fx-text-fill: white;
	-fx-padding: 10px;
}

.barra{
	-fx-font-family: "Tahoma";
	-fx-text-fill:white;
	-fx-font-size: 24px;
}

#titulo{
	-fx-font-family: "Tahoma";
	-fx-fill: #29B3AC;
	-fx-font-size: 40px;
	-fx-font-weight: bold;
}

.botao{
	-fx-background-color: #8AD0CC;
	-fx-background-radius: 48px;
	-fx-border-radius: 48px;
	-fx-border-width: 0;
	-fx-padding: 10px 40px;
	-fx-font-family: "Tahoma";
	-fx-font-size: 28px;
	-fx-text-fill: white;	
}

#subtitulo{
	-fx-font-family: "Tahoma";
	-fx-fill: #29B3AC;
	-fx-font-size: 36px;
}

#card{
	-fx-background-color: #D9D9D9;
	-fx-background-radius: 56px;
	-fx-border-radius: 56px;
}

#mensagem{
	-fx-font-size: 18px;
	-fx-font-family: "Tahoma";
}

#infos{
	-fx-font-size: 18px;
	-fx-font-family: "Tahoma";
}
